/* 
colors:
#FFCB45
#537188
#FFDF8D
#FFEFC7
#FFFCF4

Extra Bold 800
Bold 700
SemiBold 600
Medium 500
Regular 400
Light 300

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i {
    margin: 0 .3125rem;
}

a {
    text-decoration: none;
    color: #1d1d1b
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100vw;
    height: 6rem;
    position: fixed;
    flex-wrap: wrap;
    background-color: #537188;
    align-items: center;
    padding: 1rem;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    justify-content: space-between
}
.header__logo {
    display: flex;
    height: 100%;
}
.header__menu-icon {
    display: flex;
    font-size: 2.5em;
    color: #FFCB45;
    padding: .3125rem;
    justify-content: center;
    width: 3.125rem;
    border: none;
    border-radius: 25%;
    background-color: #537188
}
.header__menu-icon:hover {
    color: #537188;
    background-color: #FFCB45;
    transition: all 560ms;
}

.header__navbar,
.header__icons {
    display: none;
}

.header__navbar-list {
    list-style: none;
    align-items: center;
}
.header__navbar-item a {
    font-size: 1.25em;
    font-weight: 600;
    margin: 0 20px;
    color: #FFFCF4;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFCB45;
    padding: .8rem 2rem;
    border-radius: 2rem;
    font-weight: 800;
    border: none;
    font-size: 1em;
    color: #1d1d1b;
}

/* Hero */
.main {
    width: 100%;
    /* margin-top: 4.375rem; */
}
.hero {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #537188;
}
.hero__content {
    padding: 1.875rem;
}
.hero__content--animate {
    display: none;
}
.hero__content--title {
    color: #FFFCF4;
    font-weight: 800;
    font-size: 4.5em;
    line-height: 6.125rem;
    
}
.hero__content--title span {
    color: #FFCB45;
}
.hero__content--subtitle {
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.875rem;
    color: #FFCB45;
    margin: 2rem 0;
}
/* headboard */
.headboard {
    text-align: center;
}
.headboard__subtitle {
    color: #D9A23D;
    font-size: .9375em;
    line-height: 1.4375rem;
}
.headboard__title {
    font-size: 1.375em;
    line-height: 1.875rem;
    font-weight: 800;
    margin-bottom: 1.25rem;
}
.headboard__paragraph {
    font-size: .9375em;
    line-height: 1.625rem;
    font-weight: 600;
    color: #696969;
}
/* /headboard */
/* steps */
.steps {
    padding: 1.875rem 1.875rem;
}
.steps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.steps__card {
    margin: 1.25rem 0;
    padding: 1.25rem;
    text-align: center;
    width: 25rem;
}
.steps__img {
    width: 100%;
}
.steps__title {
    line-height: 1.75rem;
    font-size: 1.25em;
    font-weight: 800;
    margin: .9375rem 0;
}
.steps__paragraph {
    line-height: 1.4375rem;
    font-size: .9375em;
    font-weight: 600;
    color: #696969;
}

/* Menu */
.menu {
    padding: 2rem;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-card {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 1rem;
}
/* .product-card__image {
    display: inline-block;
    width: 100%;
    border-radius: 1rem;
} */
.product-card__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.product-card__information {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 6.875rem;
    padding: .625rem 1.25rem;
    border-radius: 50% 50% .625rem .625rem;
    box-shadow: 0rem 0rem .3125rem rgba(100,100,100,0.5);
}
.product-card__information-title {
    font-size: 1.125em;
    text-align: center;
    font-weight: 600;
}
.product-card__information-type {
    font-size: 1em;
    line-height: 1.625rem;
    color: #696969;
    font-weight: 500;
    text-align: center;
}
.product-card__information-price {
    width: 100%;
    left: auto;
    font-size: 1.25em;
    font-weight: 600;
    position: absolute;
    bottom: .625rem;
    left: 1.25rem;
}
.product-card__information-fav {
    position: absolute;
    bottom: .625rem;
    right: 1.25rem;
    font-size: 1.25em;
}
.button-center {
    margin: auto;
}

/* coments */
.comments {
    padding: 1.875rem;
}
.comments__container {
    width: 100%;
}
.comments-card {
    background-color: #e9f1f2;
    padding: .625rem;
    border-radius: .625rem;
    margin: .625rem 0;
}

.comments-card__top {
    width: 100%;
    display: flex;
}
.comments-card__img-container {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
}
.comments-card__user-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.comments-card__name-ranking {
    width: 70%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-left: .625rem;
}
.comments-card__user-name {
    width: 100%;
    font-size: 1.125em;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.comments-card__user-ranking {
    width: 100%;
    font-size: 1.125em;
    color: #D9A23D;
    display: flex;
    align-items: center;
}
.fa-star {
    margin-right: .3125rem;
}
.comments-card__user-comments {
    font-size: .9375em;
    font-weight: 500;
    color: #696969;
    margin-top: .625rem;
}
/* /coments */


/* footer */
.content {
    background-color: #537188;
    padding: 1.875rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    /* color: #FFFCF4 */
}

.logo--footer {
    width: 3rem;
}

.content__social {
    display: flex;
    /* margin: 1.25rem 0; */
}
.content__column {
    /* height: 6.25rem; */
    width: 100%;
    margin: 1.25rem 0;
}
.content__column--next-to {
    width: 50%;
}
.content__column-title {
    font-size: 1.5em;
    line-height: 1.875rem;
    font-weight: 600;
    margin: 1.25rem 0;
    color: #FFCB45;
}
.content__column-text {
    display: block;
    font-size: 1.25em;
    font-weight: 400;
    margin: 1.25rem 0;
    color: #FFFCF4;
}
.content__social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 1.25em;
    margin-right: .9375rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-shadow: 0rem 0rem .3125rem rgba(100,100,100,0.5);
}
.content__social-networks--jump-color {
    background-color: #D9A23D;
}

.login{
    padding: .5625rem;
    text-align: center;
}

/* Login & Register*/

.form-container {
    background-color: #e9f1f2;
    width: 90%;
    height: 90%;
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(/images/icondrink2-bg.png);
}
.form-container__form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    padding: 0 2rem;
    background-color: #FFFCF4;
    border-radius: 1rem;
}
.form-container__title { 
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.875rem;
    width: 100%;
}
.form {
    width: 100%;
}
.form__item {
    width: 100%;
    margin-bottom: 1.875rem;
}
.form__item--link {
    font-size: .9375em;
    font-weight: 600;
}
.form__item--link:hover {
    color: #FFCB45;
}
.form__item-input {
    width: 100%;
    padding: .5rem;
    border: none;
}
.form__buttom-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* /Login & Register*/


/*carrito de compra*/

.cart__title{
    margin: 1.875rem 0 1.875rem;
    font-size: 1.875em;
    max-width: 79.9375rem;
    
}
.cart__title-texto{
    display:inline-block;
}
.cart {
    width: 100%;
    margin-top: 6.25rem;
    background-color: #f5f5f5;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 120rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.cart__products{
    background-color: #fff;
    padding: 1.25rem;
    box-sizing: border-box;
}

.cart__products__details{
    border-collapse: collapse;
    border-spacing: 0; 
    width: 100%;
    max-width: 100%; /* Evita que la tabla sea m치s ancha que el contenedor */
}

.col__item{
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    font-size: .875em;
    border-collapse: collapse;
    border-spacing: 0;
    list-style: none none;
    box-sizing: border-box;
    text-align: left;
}
.producto-producto-descripcion{
    display:inline-block;
    justify-content: center; 
}
.producto-producto-imagen{
    height: 3.75rem;
    width: 3.125rem;
    
}
th, td {
    padding: .5rem;
    border: none; 
    display: table-cell;/* Add a border to the cells for visibility */
}

/* Set a specific height for table rows */
tr {
    height: auto; /* Adjust the height value as needed */
}
.producto{
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.producto-cantidad-boton {
    text-decoration: none;
    padding: .25rem 0;
    border: none;
    width: 1.875rem;
    color: #a1a1a1;
    font-size: 1.3125em;
    background: #fff;
    text-align: center;
    border-radius: .3125rem 0 0 .3125rem;
    background-color: #f8f8f8;
    opacity: 1;
    height: 2.5rem;
}

.producto-cantidad-valor {
    margin: 0 .125rem; 
    font-size: .875rem;
    padding: 0 .625rem;
    vertical-align: baseline;
    box-sizing: border-box;
    max-width: 23.9375rem;
    width: 3.125rem;
    border: .0625rem solid #e7e7e7;
    text-align: center;
    color: #000;
    background: #fff;
    height: 2.5rem;
}
.producto-accion {
    
    border: .0625rem ;
    padding: .9375rem; 
    text-decoration: none;
    border-radius: .3125rem; 
    
}

.producto-accion-icon {
    height: 2.5rem;

}
.detalle{
    border: #000;
}
.detalle__producto-imagen{
    height: 31.25rem;
    position: relative;
    width: fit-content;
    align-items: center;
    padding-left: 3.75rem;
    border-radius: 2%;
}

.detalle__producto__cant-boton {
    text-decoration: none;
    border: none;
    height: 1.875rem;
    font-size: 1.5em;
    background-color: #D9A23D;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 .625rem; 
    border-radius: .5rem;
}
.detalle__producto__cant-cant{   
    font-size: .875em;
    vertical-align: baseline;
    box-sizing: border-box;
    max-width: 23.9375rem;
    width: 3.125rem;
    border: .0625rem solid #e7e7e7;
    text-align: center;
    color: #000;
    background: #fff;
    height: 1.875rem;
    border-radius: .5rem;
}
.detalle__producto__cant{
    display: inline-block;
    align-items: center;
    margin-top: .625rem;
}

.detalle__producto-titulo{
    font-weight: bold;
    padding: 0;
}
.detalle__producto-info{
    margin-bottom: .625rem;
}
.detalle__producto__cant__pedido-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .3125rem;
    border: .0625rem solid #ccc; 
    height: 7.5rem;
    padding-top: .3125rem;
}
.detalle__producto__pedido-boton {
    text-decoration: none;
    border: none;
    font-size: 1.5em;
    background-color: #D9A23D;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 .625rem; 
    border-radius: 1.875rem;
}
.detalle__producto__cant__pedido{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.detalle__producto__cant-cart{
    height: 3.125rem;
}
.detalle__producto__pedido-order-boton{
    text-decoration: none;
    border: none;
   
    font-size: 1.5em;
    background-color: none;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 .625rem; 
    border-radius: 1.875rem;
}

/* ---Seccion login y register--- */



/* 0-480 smailer smartphone */
@media (min-width: 480px) {
    /* .content__column {
        
    } */
    .form-container {
        display: flex;
        justify-content: center;
    }
    .form-container__form-box {
        width: 30rem;
        height: 40rem;
        background-color: #FFFCF4;
        box-shadow: 0rem 0rem .3125rem rgba(100,100,100, 0.5);
    }
}

@media(min-width: 768px) {
    .header__navbar,
    .header__icons {
        display: flex;
    }
    .header__navbar-list {
        display: flex;
    }
    .header__menu-icon {
        display: none;
    }
    .hero__content {
        width: 50%;
    }
    .hero__content--animate {
        display: block;
    }
    
}
@media(max-width:768px){
    
    .cart__products__details {
        display: block; /* Cambia a dise침o de bloque para ajustarse mejor en pantallas peque침as */
    }
    
    .cart__products__details colgroup,
    .cart__products__details thead,
    .cart__products__details tbody,
    .cart__products__details tr,
    .cart__products__details th,
    .cart__products__details td {
        display: block; /* Cambia a dise침o de bloque para elementos internos */
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}
/* 
BEM

- Siglas
    * B de Bloque
    + E de Elemento
    * M de Modificador

- Estructura 
    * B__E--M
    
- Bolque/Block: aquellos elementos que poseen una identidad independiente con significado propio. Un bloque puede ser simmple o compuesto.
    
Restriciones de nombre de bloque: No mayus/No doble guiones consecutivos(--)/No doble guines bajos consecutivos(__). Ejemplo: Error => block--modificar || Correcto => block-modificar.

Ejemplos de Bloques:

<div class="header">
    ...
</div>

<div class="search-block">
    ...
</div>

<div class="custom-form">
    ...
</div>

<div class="another-block-custom">
    ...
</div>

- Elemento/Element: aquellos elementos que sean hijos de un bloque.

Ejemplo de Elementos:

<div class="block">
    <div class="block__element">
        ...
    </div>
    <div class="block__element">
        ...
    </div>
</div>

- Modificador/Modifier: Para elementos que tengan declaraciones de CSS diferentes al resto.

<div class="block">
    <div class="block__element">
        ...
    </div>
    <div class="block__element block__element--modifier">
        ...
    </div>
</div>

*/

