* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    height: 100px;
    padding: 0 120px;
    background-color: rgba(255, 255, 255, 0);
    justify-content: space-between;
    align-items: center;
}
.header__navbar-list {
    display: flex;
    list-style: none;

    align-items: center;
    flex-wrap: wrap;
}
.header__navbar-item {
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 20px;
}
.navbar__buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    background: #D9A23D;
    border-radius: 25px;
    width: 122px;
    height: 39px;
    margin-left: 20px;
}
/* Hero */
.hero {
    width: 100vw;
    height: 100vw;
}
.hero__image {
    background-image: url('/images/hero.jpg');
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.login{
    padding: 9px;
    text-align: center;
}

/* -------------------------Seccion login y register------------------------ */
    /* Centrar el formulario en la página */
.form-login {
    margin: 0 auto;
    width: 300px;
  }

      /* Centrar el título del formulario */
  .form-login h1 {
    text-align: center;
  }
  
    /* Agregar un borde alrededor del formulario */
  .form-login form {
    border: 1px solid #ccc;
    padding: 20px;
  }

/* Mostrar las etiquetas en bloque */
  .form-login label {
    display: block;
    margin-bottom: 5px;
  }

/* Estilizar campos de texto */
  .form-login input[type="text"],
  .form-login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }


/* Centrar el formulario en la página */
.form-register {
    margin: 0 auto;
    width: 300px;
  }
  
/* Centrar el título del formulario */
  .form-register h1 {
    text-align: center;
  }

/* Agregar un borde alrededor del formulario */
  .form-register form {
    border: 1px solid #ccc;
    padding: 20px;
  }
/* Mostrar las etiquetas en bloque */
  .form-register label {
    
    display: block;
    margin-bottom: 5px;
  }

/* Estilizar los campos de texto */
  .form-register input[type="text"],
  .form-register input[type="email"],
  .form-register input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

/* Estilizar el botón de envío */
  .form-register button[type="submit"] {  
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    width: 100%;
  }
    
/* Estilizar el botón de cancelar */
  .form-register button[type="reset"] {
    background-color: #636363;
    color: white;
    padding: 10px;
    width: 100%;
  }

/* -------------------------Seccion login y register------------------------ */


/* 
BEM

- Siglas
    * B de Bloque
    + E de Elemento
    * M de Modificador

- Estructura 
    * B__E--M
    
- Bolque/Block: aquellos elementos que poseen una identidad independiente con significado propio. Un bloque puede ser simmple o compuesto.
    
Restriciones de nombre de bloque: No mayus/No doble guiones consecutivos(--)/No doble guines bajos consecutivos(__). Ejemplo: Error => block--modificar || Correcto => block-modificar.

Ejemplos de Bloques:

<div class="header">
    ...
</div>

<div class="search-block">
    ...
</div>

<div class="custom-form">
    ...
</div>

<div class="another-block-custom">
    ...
</div>

- Elemento/Element: aquellos elementos que sean hijos de un bloque.

Ejemplo de Elementos:

<div class="block">
    <div class="block__element">
        ...
    </div>
    <div class="block__element">
        ...
    </div>
</div>

- Modificador/Modifier: Para elementos que tengan declaraciones de CSS diferentes al resto.

<div class="block">
    <div class="block__element">
        ...
    </div>
    <div class="block__element block__element--modifier">
        ...
    </div>
</div>

*/

