* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i {
    margin: 0 5px;
}

a {
    text-decoration: none;
    color: #1d1d1b;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    top: 0;
    left: 0;
}
.header__logo {
    display: flex;
    height: 100%;
}
.header__menu-icon {
    display: flex;
    font-size: 40px;
    color: #1d1d1b;
    padding: 5px;
    justify-content: center;
    width: 50px;
    border: none;
    background-color: #fff;
    border-radius: 25%;
}
.header__menu-icon:hover {
    background-color: #D9A23D;
    color: #fff;
    transition: all 560ms;
}

.header__navbar,
.header__icons {
    display: none;
}

.header__navbar-list {
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
    
}
.header__navbar-item {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin: 0 20px;
}
.buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    background: #D9A23D;
    border-radius: 25px;
    border: none;
    width: 122px;
    height: 39px;
}

/* Hero */
.main {
    width: 100%;
    /* margin-top: 70px; */
}
.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.hero__bg {
    /* background-image: url('/images/hero-bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: #e9f1f2;
    width: 100%;
    height: 100%;
}
.hero__content {
    top: 25vh;
    padding: 30px;
    position: absolute;
}
.hero__content--title {
    color: #1d1d1b;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}
.hero__content--title span {
    color: #D9A23D;
}
.hero__content--subtitle {
    margin-top: 20px;
    font-weight: 600;
}

/* steps */
.steps {
    padding: 30px 30px;
}
.headboard {
    text-align: center;
}
.headboard__subtitle {
    color: #D9A23D;
    font-size: 15px;
    line-height: 23px;
}
.headboard__title {
    font-size: 22px;
    line-height: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}
.headboard__paragraph {
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
    color: #696969;
}
.steps__card {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    /* margin: 10px 0; */
    /* box-shadow: 0px 0px 5px rgba(100,100,100,0.5); */
}
.steps__img {
    width: 100%;
}
.steps__title {
    line-height: 28px;
    font-size: 20px;
    font-weight: 800;
    margin: 15px 0;
}
.steps__paragraph {
    line-height: 23px;
    font-size: 15px;
    font-weight: 600;
    color: #696969;
}

/* Menu */
.menu {
    padding: 30px;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}
.product-card {
    position: relative;
    width: 100%; 
    margin: 10px 0;
}
.product-card__image {
    width: 100%;
    border-radius: 10px;
}
.product-card__information {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 110px;
    padding: 10px 20px;
    border-radius: 50% 50% 10px 10px;
    box-shadow: 0px 0px 5px rgba(100,100,100,0.5);
}
.product-card__information-title {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}
.product-card__information-type {
    font-size: 16px;
    line-height: 26px;
    color: #696969;
    font-weight: 500;
    text-align: center;
}
.product-card__information-price {
    width: 100%;
    left: auto;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.product-card__information-fav {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 20px;
}
.buttom-center {
    margin: auto;
}

/* coments */
.comments {
    padding: 30px;
}
.comments__container {
    width: 100%;
}
.comments-card {
    background-color: #e9f1f2;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.comments-card__top {
    width: 100%;
    display: flex;
}
.comments-card__img-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.comments-card__user-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.comments-card__name-ranking {
    width: 70%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-left: 10px;
}
.comments-card__user-name {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.comments-card__user-ranking {
    width: 100%;
    font-size: 18px;
    color: #D9A23D;
    display: flex;
    align-items: center;
}
.fa-star {
    margin-right: 5px;
}
.comments-card__user-comments {
    font-size: 15px;
    font-weight: 500;
    color: #696969;
    margin-top: 10px;
}
/* /coments */


/* footer */
.content {
    background-color: #f2db94;
    padding: 30px 30px;
}

.header__logo--footer {
    width: 50px;
}

.content__social {
    display: flex;
    /* margin: 20px 0; */
}
.content__column {
    /* height: 100px; */
    width: 100%;
    margin: 15px 0;
}
.content__column-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 800;
    margin: 20px 0;
}
.content__column-text {
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0;
}
.content__social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 20px;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(100,100,100,0.5);
}
.content__social-networks--jump-color {
    background-color: #D9A23D;
}

.login{
    padding: 9px;
    text-align: center;
}

/* Login & Register*/

.form-container {
    background-color: #e9f1f2;
    padding: 30px;
    width: 90%;
    height: 90%;
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(/images/icondrink2-bg.png);
}
.form-container__form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.form-container__title { 
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}
.form {
    width: 100%;
}
.form__item {
    width: 100%;
    margin-bottom: 30px;
}
.form__item--link {
    font-size: 15px;
    font-weight: 600;
}
.form__item-input {
    width: 100%;
    padding: 8px;
}
.form__buttom-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* /Login & Register*/


/*carrito de compra*/

.cart__title{
    margin: 30px 0 30px;
    font-size: 30px;
    max-width: 1279px;
    
}
.cart__title-texto{
    display:inline-block;
}
.cart {
    width: 100%;
    margin-top: 100px;
    background-color: #f5f5f5;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    padding-left: 20px;
    padding-right: 20px;
}
.cart__products{
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.cart__products__details{
    border-collapse: collapse;
    border-spacing: 0; 
    width: 100%;
    max-width: 100%; /* Evita que la tabla sea m치s ancha que el contenedor */
}

.col__item{
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    font-size: 14px;
    border-collapse: collapse;
    border-spacing: 0;
    list-style: none none;
    box-sizing: border-box;
    text-align: left;
}
.producto-producto-descripcion{
    display:inline-block;
    justify-content: center; 
}
.producto-producto-imagen{
    height: 60px;
    width: 50px;
    
}
th, td {
    padding: 8px;
    border: none; 
    display: table-cell;/* Add a border to the cells for visibility */
}

/* Set a specific height for table rows */
tr {
    height: auto; /* Adjust the height value as needed */
}
.producto{
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.producto-cantidad-boton {
    text-decoration: none;
    padding: 4px 0;
    border: none;
    width: 30px;
    color: #a1a1a1;
    font-size: 21px;
    background: #fff;
    text-align: center;
    border-radius: 5px 0 0 5px;
    background-color: #f8f8f8;
    opacity: 1;
    height: 40px;
}

.producto-cantidad-valor {
    margin: 0 2px; 
    font-size: 14px;
    padding: 0 10px;
    vertical-align: baseline;
    box-sizing: border-box;
    max-width: 383px;
    width: 50px;
    border: 1px solid #e7e7e7;
    text-align: center;
    color: #000;
    background: #fff;
    height: 40px;
}
.producto-accion {
    
    border: 1px ;
    padding: 15px; 
    text-decoration: none;
    border-radius: 5px; 
    
}

.producto-accion-icon {
 height: 40px;

}
.detalle{
    border: #000;
}
.detalle__producto-imagen{
    height: 500px;
    position: relative;
    width: fit-content;
    align-items: center;
    padding-left: 60px;
    border-radius: 2%;
}

.detalle__producto__cant-boton {
    text-decoration: none;
  border: none;
  height: 30px;
  font-size: 24px;
  background-color: #D9A23D;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 0 10px; 
  border-radius: 8px;
}
.detalle__producto__cant-cant{   
    font-size: 14px;
    vertical-align: baseline;
    box-sizing: border-box;
    max-width: 383px;
    width: 50px;
    border: 1px solid #e7e7e7;
    text-align: center;
    color: #000;
    background: #fff;
    height: 30px;
    border-radius: 8px;
}
.detalle__producto__cant{
    display: inline-block;
    align-items: center;
    margin-top: 10px;
}

.detalle__producto-titulo{
    font-weight: bold;
    padding: 0;
}
.detalle__producto-info{
    margin-bottom: 10px;
}
.detalle__producto__cant__pedido-order{
 display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  border: 1px solid #ccc; 
  height: 120px;
  padding-top: 5px;
}
.detalle__producto__pedido-boton {
    text-decoration: none;
  border: none;
  font-size: 24px;
  background-color: #D9A23D;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 0 10px; 
  border-radius: 30px;
}
.detalle__producto__cant__pedido{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.detalle__producto__cant-cart{
    height: 50px;
}
.detalle__producto__pedido-order-boton{
    text-decoration: none;
    border: none;
   
    font-size: 24px;
    background-color: none;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0 10px; 
    border-radius: 30px;
}

/* -------------------------Seccion login y register------------------------ */



/* 0-480 smailer smartphone */
@media (min-width: 480px) {
    
}

@media(max-width:768px){
    .cart__products__details {
        display: block; /* Cambia a dise침o de bloque para ajustarse mejor en pantallas peque침as */
    }
    
    .cart__products__details colgroup,
    .cart__products__details thead,
    .cart__products__details tbody,
    .cart__products__details tr,
    .cart__products__details th,
    .cart__products__details td {
        display: block; /* Cambia a dise침o de bloque para elementos internos */
        width: 100%; /* Ocupa todo el ancho disponible */
    }
}
/* 
BEM

- Siglas
    * B de Bloque
    + E de Elemento
    * M de Modificador

- Estructura 
    * B__E--M
    
- Bolque/Block: aquellos elementos que poseen una identidad independiente con significado propio. Un bloque puede ser simmple o compuesto.
    
Restriciones de nombre de bloque: No mayus/No doble guiones consecutivos(--)/No doble guines bajos consecutivos(__). Ejemplo: Error => block--modificar || Correcto => block-modificar.

Ejemplos de Bloques:

<div class="header">
    ...
</div>

<div class="search-block">
    ...
</div>

<div class="custom-form">
    ...
</div>

<div class="another-block-custom">
    ...
</div>

- Elemento/Element: aquellos elementos que sean hijos de un bloque.

Ejemplo de Elementos:

<div class="block">
    <div class="block__element">
        ...
    </div>
    <div class="block__element">
        ...
    </div>
</div>

- Modificador/Modifier: Para elementos que tengan declaraciones de CSS diferentes al resto.

<div class="block">
    <div class="block__element">
        ...
    </div>
    <div class="block__element block__element--modifier">
        ...
    </div>
</div>

*/

