<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <section class="form-container">
            <div class="form-container__form-box">
                <h1 class="form-container__title">Login</h1>
                <form class="form" action="/login" method="get">
                    <div class="form__item">
                        <input type="text" name="E-mail" placeholder="Username/Email" class="form__item-input">
                        <label for="usuario"></label>
                    </div>
                    <div class="form__item">
                        <input type="password" name="constraseña" placeholder="Password" class="form__item-input">
                        <label for="constraseña"></label>
                    </div>
                    <div class="form__item">
                        <a class="form__item--link" href="/user/register">You do not have an account?</a>
                    </div>
                    <button class="button button-center"><i class="fa-solid fa-arrow-right-to-bracket"></i>Enter</button>
                </form>
            </div>
        </section>
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %>
</body>
</html>