<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oasis</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <img src="" alt="LOGO">
        </div>
        <nav class="header__navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-item"><a href="#">Home</a></li>
                <li class="header__navbar-item"><a href="#">Menu</a></li>
                <li class="header__navbar-item"><a href="#">How it works</a></li>
                <li class="header__navbar-item"><a href="#">About</a></li>
                <li class="header__navbar-item"><a href="#">Services</a></li>
            </ul>
        </nav>
        <div class="header__icons">
            <ul class="header__navbar-list">
                <li class="header__navbar-item"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li class="header__navbar-item"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="navbar__buttom"><a href="/sign-in"><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign in</a></li>
            </ul>
        </div>
    </header>
    <main class="main">
        <div class="hero">
            <div class="hero__image"></div>
            <div class="hero__content-title">

            </div>
        </div>
    </main>
</body>
</html>