<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <!-- header -->
    <%- include('partials/header.ejs') %>
    <main class="cart">
        <div>
         <table class="cart__products__details">
             <colgroup>
                 <col style="width: 60%;"> 
                 <col style="width: 40%;">
             </colgroup>
             <tbody >
                 <tr>
                     <td>                     
                     <img class="detalle__producto-imagen" src="/images/muestra02-drink.jpg" alt="Trago 1"> 
                     </td>
                     <td >
                       <a class="detalle__producto-titulo">NAME 1</a>
                       <div>
                        <a class="detalle__producto-info">Ingredientes</a>
                        <ul>
                            <li> jaskjhuiailsajsl </li>
                            <li> jaskjhuiailsajsl </li>
                            <li> jaskjhuiailsajsl </li>
                            <li> jaskjhuiailsajsl </li>
                        </ul>
                        <a class="detalle__producto-info">Informacion Nutritiva</a>
                        <ul>
                            <li> jaskjhuiailsajsl </li>
                            <li> jaskjhuiailsajsl </li>
                            <li> jaskjhuiailsajsl </li>
                            <li> jaskjhuiailsajsl </li>
                        </ul>
                        
                       </div>
                       <div>
                           <div class="detalle__producto__cant" >
                                <a href="#cart-24783731-qty" class="detalle__producto__cant-boton"><span>-</span></a>
                                <input id="cant" class="detalle__producto__cant-cant"value="1" type="number" size="4" step="any" title="Cantidad">
                                <a href="#cart-24783731-qty" class="detalle__producto__cant-boton"><span>+</span></a>
                           </div>
                           <a>=</a>
                           <div class="detalle__producto__cant" >
                            <a href="#cart-24783731-qty" class="detalle__producto__cant-boton"><span>$00.000,00</span></a>
                            </div>
                        </div>
                        <div class="detalle__producto__cant__pedido">
                            <div class="detalle__producto__cant__pedido-order">
                                <a>Pide tu comida ahora</a>
                                 <a href="#cart-24783731-qty" class="detalle__producto__pedido-boton"><span>Hacer pedido</span></a>
                            </div>
                            <a>รณ</a>
                            <div class="detalle__producto__cant__pedido-order" >
                                <span>Agregalo a tu carrito</span>
                                <a href="#cart-24783731-qty" class="detalle__producto__pedido-order-boton">
                                    <img src="/images/carrito.png" class="detalle__producto__cant-cart">
                                </a>
                            </div>
                         </div>
                  
                     </td>
                 </tr>
             </tbody>
         </table>
        </div>
 
    </main>
    <!-- footer -->
    <%- include('partials/footer') %>
</body>
</html>