<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro</h1>
    <main class="form">
        <div>
            <form action="/" method="get">
                <p>Perfil de usuario</p>
                <label for="foto"></label>
                <input type="file" name="foto de usuario" id="foto" accept=".jpg" required>
                <label for="Nombre y Apellido">Nombre y Apellido</label>
                <input type="text" name="Nombre y Apellido" id="Nombre y Apellido" required>
                <label for="usuario">Usuario</label>
                <input type="text" name="Nombre y Apellido" id="usuario" required>
                <label for="email">E-mail</label>
                <input type="email" name="E-mail" id="email" required>
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña" required>
                <label for="confirmacion">Confirmar contraseña</label>
                <input type="password" name="confirmacion" id="confirmacion" required>
                <button type="reset">Cancelar</button>
                <button type="submit">Enviar</button>

            </form>
        </div>

    </main>
</body>
</html>