<footer class="footer">
    <div class="content">
        <div class="content__column">
            <div class="logo--footer">
                <img src="/images/logo-oasis-black-on-white.svg" alt="Logo">
            </div>
            <p class="content__column-text">Av. AAAA AAA, SSSSS SSSS, Argentina, 00000</p>
            <div class="content__social">
                <div class="content__social-networks">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="content__social-networks content__social-networks--jump-color">
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div class="content__social-networks">
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
        <div class="content__column content__column--next-to">
            <h3 class="content__column-title">Company</h3>
            <a class="content__column-text" href="#">About Us</a>
            <a class="content__column-text" href="#">Career</a>
            <a class="content__column-text" href="#">How It Work</a>
        </div>
        <div class="content__column content__column--next-to">
            <h3 class="content__column-title">Policy</h3>
            <a class="content__column-text" href="#">FAQ</a>
            <a class="content__column-text" href="#">Privacy</a>
            <a class="content__column-text" href="#">Shipping</a>
        </div>
        <div class="content__column">
            <h3 class="content__column-title">Get In Touch</h3>
            <p class="content__column-text">+54 388 0000 0000</p>
            <p class="content__column-text">oasis@example.com</p>
        </div>
        <div class="content__column">
            <p>Copyright © 2023 Grup2</p>
        </div>
    </div>
</footer>