<footer class="container-footer">
    <div class="footer">
        <ul class="footer__ul">
            <h4>Donde estamos</h4>
            <li class="footer__li"><a href="" class="footer__a">item 1</a></li>
            <li class="footer__li"><a href="" class="footer__a">item 2</a></li>
            <li class="footer__li"><a href="" class="footer__a">item 3</a></li>
        </ul>
        <ul class="footer__ul">
            <h4>Nosotros</h4>
            <li class="footer__li"><a href="" class="footer__a">item 1</a></li>
            <li class="footer__li"><a href="" class="footer__a">item 2</a></li>
            <li class="footer__li"><a href="" class="footer__a">item 3</a></li>
        </ul>
        <ul class="footer__ul">
            <h4>Nuestras redes</h4>
            <li class="footer__li"><a href="" class="footer__a">item 1</a></li>
            <li class="footer__li"><a href="" class="footer__a">item 2</a></li>
            <li class="footer__li"><a href="" class="footer__a">item 3</a></li>
        </ul>
        <ul class="footer__ul">
            <h4>Contacto</h4>
            <li class="footer__li"><a href="" class="footer__a">item 1</a></li>
            <li class="footer__li"><a href="" class="footer__a">item 2</a></li>
            <li class="footer__li"><a href="" class="footer__a">item 3</a></li>
        </ul>
    </div>
</footer>