<header class="container-header">
    <div class="header">
        <a class="header__a" href="/">
            <img src="/images/icons/logo-oasis-black-on-white.svg" alt="LOGO">
        </a>
        <button class="header__i">
            <i class="fa-solid fa-bars"></i>
        </button>
        <nav class="header__nav header__nav--center">
            <ul class="header__ul">
                <li class="header__li"><a class="header__a header__a--nav" href="/">Inicio</a></li>
                <li class="header__li"><a class="header__a header__a--nav" href="#">Nosotros</a></li>
                <li class="header__li"><a class="header__a header__a--nav" href="/product">Menú</a></li>
                <li class="header__li"><a class="header__a header__a--nav" href="#">Contacto</a></li>
                <li class="header__li"><a class="header__a header__a--nav" href="/product/create">Crear</a></li>
            </ul>
        </nav>
        <div class="header__nav">
            <ul class="header__ul">
                <li class="header__li"><a class="header__a" href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                <li class="header__li"><a class="header__a" href="/product/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="header__li"><a class="button" href="/user/login"><i class="button__i fa-solid fa-arrow-right-to-bracket"></i>Sign in</a></li>
            </ul>
        </div>
    </div>
</header>