<header class="header">
    <div class="header__logo">
        <a class="header__logo" href="/">
            <img src="/images/logo-oasis-color-on-white.svg" alt="LOGO">
        </a>
    </div>
    <button class="header__menu-icon">
        <i class="fa-solid fa-bars"></i>
    </button>
    <nav class="header__navbar">
        <ul class="header__navbar-list">
            <li class="header__navbar-item"><a href="/">Home</a></li>
            <li class="header__navbar-item"><a href="#">About Us</a></li>
            <li class="header__navbar-item"><a href="/product">Menu</a></li>
            <li class="header__navbar-item"><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <div class="header__icons">
        <ul class="header__navbar-list">
            <li class="header__navbar-item"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
            <li class="header__navbar-item"><a href="product/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="button"><a href="/user/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Sign in</a></li>
        </ul>
    </div>
</header>