<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
    <!-- ul.ul*3>li.li*5>a.a{item footer $} -->
    <main class="main-home">
        <div>
            <section class="container-cover">
                <div class="cover"> 
                    <div class="cover-content">
                        <h5 class="cover-content__subtitle">Restobar</h5>
                        <h1 class="cover-content__title">MONtserrAt</h1>
                        <h5 class="cover-content__subtitle cover-content__subtitle--inferior">tu lugar de encuentro</h5>
                    </div>
                </div>
            </section>
            <!-- Steps -->
            <section class="container">
                <div class="">
                    <div class="steps__card">
                        <img class="steps__img" src="/images/logo-oasis-black-on-white.svg" alt="img-temp">
                        <h3 class="steps__title">Los mejores tragos</h3>
                        <p class="steps__paragraph">Contamos con una amplia variedad de marcas para saciar su sed</p>
                    </div>
                    <div class="steps__card">
                        <img class="steps__img" src="/images/logo-oasis-black-on-white.svg" alt="img-temp">
                        <h3 class="steps__title">La mejor comida</h3>
                        <p class="steps__paragraph"> Delivery will be on time</p>
                    </div>
                    <div class="steps__card">
                        <img class="steps__img" src="/images/logo-oasis-black-on-white.svg" alt="img-temp">
                        <h3 class="steps__title">El mejor lugar</h3>
                        <p class="steps__paragraph">The best quality of food for you</p>
                    </div>
                </div>
            </section>
            <!-- Menu -->

            <!-- Tools -->
            <%- include('../partials/tools-panel') %>
        </div>
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %>
</body>
</html>