<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <div>
            <section class="container container-cart">
                <div class="cart">
                    <div class="column-product-cart-list">
                        
                    </div>
                    <div class="column-product-cart"></div>
                </div>
            </section>
        </div>
       
    <!-- footer -->
    <%- include('../partials/footer') %>
</body>
</html>